<footer class="pt-4 pt-md-5 pb-2 pb-md-4 bg-white text-center third-footer">
  <div class="container">
    <div class="pt-3 pt-md-4">
      <div class="mb-3">
        <img src="../assets/totemlogo.png" width="200" alt="Brand" class="mb-2">
        <ul class="list-unstyled footer-link">
          <li>
            <a href="/">home</a>
          </li>
          <li>
            <a href="/about">about</a>
          </li>
          <li>
            <a href="/keepers">keepers</a>
          </li>
          <li>
            <a href="/security">security</a>
          </li>
        </ul>
      </div>
    </div>
    <hr class="my-4">
    <p class="small text-muted text-center">© <script>document.write(new Date().getFullYear())</script> Totem. All rights reserved.</p>
  </div>
</footer>

<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/lodash.min.js"></script>
<script src="/assets/js/theme-custom.js"></script>