<footer class="pt-4 pt-md-5 pb-2 pb-md-4 bg-white text-center third-footer">
  <div class="container">
    <div class="pt-3 pt-md-4">
      <div class="mb-3">
        <img src="../assets/totemlogo.png" width="200" alt="Brand" class="mb-2">
        <ul class="list-unstyled footer-link">
          <li>
            <a href="javascript:void(0);">home</a>
          </li>
          <li>
            <a href="javascript:void(0);">about</a>
          </li>
          <li>
            <a href="javascript:void(0);">keepers</a>
          </li>
          <li>
            <a href="javascript:void(0);">security</a>
          </li>
        </ul>
      </div>
    </div>
    <hr class="my-4">
    <p class="small text-muted text-center">© <script>document.write(new Date().getFullYear())</script> Totem. All rights reserved.</p>
  </div>
</footer>