<head>
<meta charset="UTF-8">
<meta name="description" content="totem - Be Yourself">
<meta name="keywords" content="totem - Be Yourself">
<meta name="author" content="totem - Be Yourself">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>totem - Be Yourself</title>
<link href="/assets/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
<!-- Muse CSS -->
<link href="/assets/css/theme.min.css" rel="stylesheet" type="text/css" media="all">
</head>