<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  {% include 'header.njk' %}
<body>
  {% include 'nav.njk' %}
  <section class="muse-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h1 class="display-4">Hey, totem.</h1>
        <h4>Let's talk.</h4>
        <p class="big mt-md-4 mt-3 pb-md-2 text-black-600 lh-lg">Not everyone needs a therapist, <br> but everyone deserves a <strong>voice</strong>.</p>
        <div class="my-4">
          <a href="javascript:void(0);" class="btn btn-lg btn-primary me-4">Download</a>
          <a href="javascript:void(0);" class="btn btn-lg btn-link">Learn More</a>
        </div>
      </div>
      <div class="col-lg-6">
        <img src="../assets/totem-unsplash.jpg" class="img-fluid rounded-12" alt="Banner">
      </div>
    </div>
  </div>
</section>
<div class="container">
  <!-- Muse Section -->
  <section class="muse-section">
    <div class="row">
      <div class="col-lg-5">
        <h6>What is totem?</h6>
        <h2 class="mt-2 h1">Be Yourself</h2>
        <p class="mt-3 lh-lg">We are a community of people who want to share our stories, and to hear yours. Guided by verified <strong>Keepers</strong>, you are free to be yourself without interruption.</p>
        <div class="mt-3 mt-md-4 mb-2">
          <a href="javascript:void(0);" class="btn btn-lg btn-link">Meet the Keepers</a>
        </div>
      </div>
      <div class="col-lg-7">
        <ul class="feature-list">
          <li class="aos-init aos-animate">
            <a class="transition-3d-hover"><img src="../assets/img/pages/team1.jpg" alt="Airbnb"></a>
          </li>
          <li class="aos-init aos-animate">
            <a class="transition-3d-hover"><img src="../assets/img/pages/team2.jpg" alt="Dropbox"></a>
          </li>
          <li class="aos-init aos-animate">
            <a class="transition-3d-hover"><img src="../assets/img/pages/team3.jpg" alt="Figma"></a>
          </li>
          <li class="aos-init aos-animate">
            <a class="transition-3d-hover"><img src="../assets/img/pages/team4.jpg" alt="Slack"></a>
          </li>
          <li class="aos-init aos-animate">
            <a class="transition-3d-hover"><img src="../assets/img/pages/team5.jpg" alt="Evernote"></a>
          </li>
          <li class="aos-init aos-animate">
            <a class="transition-3d-hover"><img src="../assets/img/pages/team6.jpg" alt="Zeplin"></a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>
<div class="agency-template bg-dark">
  <div class="container">
    <!-- Muse Section -->
    <section class="muse-section">
      <div class="row pt-0 pt-md-5 align-items-center">
        <div class="col-lg-6 pb-5">
          <div class="pe-2 pe-md-5 me-0 me-md-5">
            <h6>How does totem work?</h6>
            <h2 class="h1 mb-3">Old made new.</h2>
            <p class="lh-lg big">For centuries, Native Americans have been sitting in circle. They use a talking piece, a totem, to grant each person a time to speak. Using this, they’ve built complex societies based on peace and understanding. We think it’s time we do the same.</p>
            <a href="#" class="btn btn-lg btn-link mt-3">Learn More</a>
          </div>
        </div>
        <div class="col-lg-6 pt-5">
          <ul class="tech-list">
            <li>
              <a href="#" class="avatar avatar-xl bg-black-800 avatar-circle avatar-center"><img class="rounded-circle" src="../assets/img/pages/team6.jpg" alt="img"></a>
            </li>
            <li>
              <a href="#" class="avatar avatar-xl bg-black-800 avatar-circle avatar-center"><img class="rounded-circle" src="../assets/img/pages/team7.jpg" alt="img"></a>
            </li>
            <li>
              <a href="#" class="avatar avatar-xl bg-black-800 avatar-circle avatar-center"><img class="rounded-circle" src="../assets/img/pages/team2.jpg" alt="img"></a>
            </li>
            <li>
              <a href="#" class="avatar avatar-xl bg-black-800 avatar-circle avatar-center"><img class="rounded-circle" src="../assets/img/pages/team1.jpg" alt="img"></a>
            </li>
            <li>
              <a href="#" class="avatar avatar-xl bg-black-800 avatar-circle avatar-center"><img class="rounded-circle" src="../assets/img/pages/team5.jpg" alt="img"></a>
            </li>
            <li>
              <a href="#" class="avatar avatar-xl bg-black-800 avatar-circle avatar-center"><img class="rounded-circle" src="../assets/img/pages/team4.jpg" alt="img"></a>
            </li>
            <li>
              <a href="#" class="avatar avatar-xl bg-black-800 avatar-circle avatar-center"><img class="rounded-circle" src="../assets/img/pages/team3.jpg" alt="img"></a>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</div>
  {% include 'footer.njk' %}
</body>
</html>